<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>CryptoPython</title>
  </head>
  <body>
    <h1>Chiffrement et Déchiffrement</h1>

    <!-- Section pour le chiffrement -->
    <h2>Chiffrement</h2>
    <label for="key">Clé Fernet :</label>
    <input type="text" id="key" placeholder="Entrez votre clé">
    <br>
    <label for="textToEncrypt">Texte à chiffrer :</label>
    <input type="text" id="textToEncrypt" placeholder="Entrez le texte">
    <br>
    <button onclick="encryptText()">Chiffrer</button>
    <p id="encryptedResult"></p>

    <hr>

    <!-- Section pour le déchiffrement -->
    <h2>Déchiffrement</h2>
    <label for="decryptionKey">Clé Fernet :</label>
    <input type="text" id="decryptionKey" placeholder="Entrez votre clé">
    <br>
    <label for="textToDecrypt">Token à déchiffrer :</label>
    <input type="text" id="textToDecrypt" placeholder="Entrez le token">
    <br>
    <button onclick="decryptText()">Déchiffrer</button>
    <p id="decryptedResult"></p>

    <script>
      // Fonction pour envoyer la requête de chiffrement
      function encryptText() {
        const key = document.getElementById('key').value;
        const text = document.getElementById('textToEncrypt').value;
        
        const payload = { key: key, valeur: text };

        fetch('/encrypt', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(payload)
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById('encryptedResult').innerText = "Token chiffré : " + data.valeur_encryptee + "\nClé utilisée : " + data.key;
        })
        .catch(error => {
          document.getElementById('encryptedResult').innerText = 'Erreur lors du chiffrement';
        });
      }

      // Fonction pour envoyer la requête de déchiffrement
      function decryptText() {
        const key = document.getElementById('decryptionKey').value;
        const token = document.getElementById('textToDecrypt').value;

        const payload = { key: key, token: token };

        fetch('/decrypt', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(payload)
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById('decryptedResult').innerText = "Texte déchiffré : " + data.valeur_decryptee;
        })
        .catch(error => {
          document.getElementById('decryptedResult').innerText = 'Erreur lors du déchiffrement';
        });
      }
    </script>
  </body>
</html>
